*.egg-info/
*__pycache__*
*.pyc
*~
*.nb
*.so
*.h5
*.fits
*.png
*.pdf
*.gif
*.mp4
*.egg-info*
build/*
scripts/*.mp4
scripts/*.pdf
*.ipynb_checkpoints*

build/*
gsl_ellip.c
toms_ellip_binding.py
toms5777*

# macOS
.DS_Store

# local experimental scripts / patches
/generate_semianalytic_image.py
kgeo/equatorial_images_fluid_bfield_patch.py
scripts/first_image.py
scripts/samik_model_BandU.py

# generated images / fits files
*.png
*.fits
